@charset "utf-8";
*{padding: 0;margin: 0;}
ul,li{
    list-style: none;
}
#reg{
    background-image: url(../images/images/14818105826269.jpg);
    background-repeat: no-repeat;
    padding-top: 75px;
    height: 502px;
    margin-top: 20px;
    width: 965px;
    margin: 0 auto;
    background-position: center left;
    .r_r{
            float: right;
            h4{
                font-size: 20px;
                color: #f450a2;
                height: 60px;
                line-height: 60px;
                margin-bottom: 13px;
            }
            width: 304px;
            box-shadow: 0 0 4px rgba(0, 0, 0, .075);
            padding: 0 20px 20px 20px;
        .inputGroup {
            position: relative;
            height: 56px;

            input {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                border: 0 none;
                color: #000;
                font-size: 14px;
                height: auto;
                left: 0;
                line-height: 1.5;
                margin: 0;
                outline: 0 none;
                overflow: hidden;
                padding: 8px 8px 8px 54px;
                position: relative;
                top: 0;
                width: 256px;
                vertical-align: middle;
            }

            .inputWrap {
                background-color: #FFF;
                border: 1px solid #CFCFCF;
                box-shadow: 0 0 2px 1px rgba(207, 207, 207, .4) inset;
                position: relative;

                .areabg {
                    display: block;
                    left: 0;
                    position: absolute;
                    z-index: 1;
                    border-right: 1px solid #ccc;
                    padding-right: 10px;
                    ul{
                            width: 175px;
                            border: 1px solid #cfcfcf;
                            background: #fff;
                            height: 180px;
                            overflow-y: auto;
                            li{
                                    height: 30px;
                                    line-height: 30px;
                                    a{
                                            text-decoration: none;
                                            color: #666;
                                                display: block;
                                                width: 100%;
                                                height: 100%;
                                                font-size: 12px;
                                    }
                            }
                    }
                    .area_code {
                        padding-left: 3px;
                        height: 100%;
                        display: inline-block;
                        line-height: 35px;
                    }
                }
            }
        }
        .inputff{
            #teex{
                padding: 8px;
                width: 130px;
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                color: #000;
                font-size: 14px;
                margin: 0;
                outline: 0 none;
                top: 0;
                vertical-align: middle;
                box-shadow: 0 0 2px 1px rgba(207, 207, 207, 0.4) inset;
            }
            #btn{
                background: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
                border: 1px solid #d9d9d9;
                text-decoration: none;
                cursor: pointer;
                padding: 0 8px;
                display: inline-block;
                line-height: 37px;
                height: 37px;
                font-weight: 700;
                color: #666;
                text-align: center;
                width: 128px;
                outline: none;
            }
        }
        .yij{
            // text-align: center;
            margin-top: 15px;
            input{
                background-color: #F450A2;
                border-radius: 2px;
                display: inline-block;
                padding: 4px 14px 7px;
                width: 255px;
                height: 41px;
                line-height: 25px;
                text-decoration: none;
                color: #FFF;
                text-align: center;
                white-space: nowrap;
                word-break: keep-all;
                margin: auto;
                border: 0 none;
                cursor: pointer;
                font-family: inherit;
                font-size: 20px;
                font-weight: 700;
                outline: none;
            }
        }
        .bttn{
            clear: both;
            overflow: hidden;
            margin-top: 20px;
            span{
                color: #066666;
                float: left;
                padding-top: 6px;
                font-size: 12px;
            }
                em:nth-child(2){
                    background-image: url(../images/images/login_wx.jpg);
                    background-repeat: no-repeat;
                }
                em:nth-child(3){
                    background-image: url(../images/images/login_sina.jpg);
                    background-repeat: no-repeat;
                }
                em{
                        float: left;
                        display: block;
                        width: 24px;
                        height: 24px;
                        overflow: hidden;
                        margin-right: 8px;
                        border-radius: 50%;
                        cursor: pointer;
                }
        }
    }
}
